# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.cph/
.vscode/
*
!*.cpp
!.gitignore
!LICENSE
!README.md

leetcode.cpp
doublehashattack.cpp
tempCodeRunnerFile.cpp
deneme*.cpp
a.cpp
temp.cpp